#page-wrapper {
  padding-top: 1px;
}

.navbar-brand {
  padding: 15px 0;
}

#side-menu {
  width: 100%;
  float: left;
  min-height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y: scroll;
  background: #f5f5f5 url(/public/img/whitey.png) repeat top left;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 99.9%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: right;
  padding: 15px 20px 0 0;
}

.side-menu-container {
   height: 99.9%;
}

.content {
  background-color: white;
  padding-right: 20px;
  border-radius: 20px;
  min-height: 600px;
  border: solid 2px #ccc;
}

@media screen and (min-width: 900px) {
  .content {
      min-height: 500px;
  }
}