.navbar-brand {
  padding: 15px 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y: scroll;

  background-color: lightgrey;
  font-size: 1.0em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 99.9%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: right;
  padding: 15px 20px 0 0;
}

.actions {
  margin: 15px 0;
}

.side-menu-container {
   height: 99.9%;
   padding: 0;
   background-color: lightgrey;
   border: solid 2px darkgrey;
   border-right: none;
   border-radius: 10px;
   padding: 10px;
   border-top: none;
   border-top-right-radius: 0;
   border-bottom-left-radius: 0;
   /*background: lightgrey url(/public/img/whitey.png) repeat top left;*/
}

.side-menu-container tr:hover {
  background-color: darkgrey;
}

.side-menu-container tr a {
  color: black;
  display: inline-block;
  width: 100%;
}

.side-menu-container tr:hover a {
  color: white;
}

.header {
  background-color: lightgrey;
}

.content {
  background-color: white;
  padding-right: 20px;
  border-radius: 20px;
  min-height: 600px;
  border: solid 2px #ccc;
  /*border-top-left-radius: 0;*/
  border-top-right-radius: 0;
}

@media screen and (min-width: 900px) {
  .content {
      min-height: 500px;
  }
}