{{ define "sidemenu.html" }}

<table class="table">
<thead>
</thead>
<tbody>
<tr>
    <td><a href="/"><i class="fa fa-home fa-fw"></i>Home</a></td>
    <td></td>
</tr>
{{ range $a := .Accounts }}

<tr>
    <td>
    <a href="/accounts/{{ $a.ID }}" class="active"><i class="fa fa-{{ $a.Icon }} fa-fw"></i> {{- $a.Name }}</a>
    </td>
    <td class="text-right">
    <a href="/accounts/{{ $a.ID }}" class="active">
    <span class="total"><i class="fa fa-fw"></i>{{ $a.GetFormattedTotal }}</span>
    </a>
    </td>
</tr>
{{ end }}
<tr>
    <td><a href="/interest?from=2016-03-28&amp;until=2016-04-27">Interest</a></td>
</tr>
<tr>
    <td><a href="/shares">Shares</a></td>
</tr>
</tbody>
</table>
{{ end }}
